.info {
    display: flex;
    align-items: center;
    gap: 3rem;
    
    + .info {
        margin-top: 16rem;
    }
}

.info--reviews {
    padding: 0 11.5rem;
}

.info-photo, .info-content {
    flex: 0 1 50%;
}

.info-photo img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.info-title {
    margin-bottom: 3rem;
    font-size: 6.4rem;
    color: var(--primary);
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: var(--ls);
}

.info-text {
    font-size: 2rem;
    color: var(--gray-text);
    line-height: 1.8;
    margin-bottom: 6rem;
}

.info-title--light {
    color: var(--light);
    opacity: 0.6;
}